@import '../font/index.scss';
@import './common.scss';

* {
  @apply normal;

  margin: 0;
  padding: 0;
}

pre {
  @apply normal;

  outline: none;
  white-space: pre-wrap; /*css-3*/
  white-space: -moz-pre-wrap; /*Mozilla,since1999*/
  white-space: -pre-wrap; /*Opera4-6*/
  white-space: -o-pre-wrap; /*Opera7*/
  word-wrap: break-word; /*InternetExplorer5.5+*/
}



/* 屏幕适配 */
// 方案1: 固定尺寸
html {
  font-size: 16px;

  @media screen and (max-width: 750px) {
    font-size: 8px;
  }
}

// 方案2: 动态尺寸
// $minFontSize: 12.8px;
// $maxFontSize: 17.829px;
// $minScreen: 430px;
// $maxScreen: 1536px;

// html {
//   font-size: clamp($minFontSize, calc(7px + (($maxFontSize - $minFontSize) / ($maxScreen - $minScreen) * 100vw)), $maxFontSize);
// }



/* 滚动条相关 */
html {
  overflow-y: hidden;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background: var(--cus-scrollbar);
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}