/* hover */
.base-hover {
  @apply cursor-pointer duration-300;
}

.hover-primary {
  @apply base-hover hover:text-primary-2;
}

.hover-second-1 {
  @apply base-hover hover:text-common-1;
}


/* 链接 */
.link-1 {
  @apply text-info-1 hover:text-info-2 cursor-pointer duration-300;
}
