/* 顶部导航配置 */
#layout-nav {
  @apply max-w-1650  /* 导航最大宽 = 导航内容高度 + 左右安全边距 */
  xs:h-80 md:h-60  /* 导航高度(修改后,需要同步修改第11行) */
  xs:px-20 md:px-40;  /* 安全边距 */
}

/* 页面主体配置 */
#layout-main {
  @apply xs:min-h-[calc(100vh-50px)] md:min-h-[calc(100vh-80px)] /* 最小高度 = 100vh - 页脚高度 (移动端用了2倍图，这里计算要/2；别用ts设置,否则开始时会屏闪) */
  xs:pt-100 md:pt-80  /* 距离顶部的距离 = 导航高度 + 距离顶部的边距 */
  ;

  // 版心
  .w {
    @apply max-w-1340  /* 页面最大宽 = 页面内容高度 + 左右安全边距 */
    xs:px-20 md:px-40 pb-20;  /* 安全边距(别用margin) */
  }
}

/* 页脚配置 */
#layout-footer {
  @apply max-w-1340  /* 最大宽 */
  xs:h-100 md:h-80  /* 页脚高度(修改后,需要同步修改第10行) */
  xs:px-20 md:px-40;  /* 安全边距 */
}




/* 布局基础配置(正常不需要改) */ 
#layout {
  @apply w-screen h-screen overflow-hidden;

  #layout-nav-base {
    @apply w-full fixed position-center-h z-[5] flex-align-x;

    #layout-nav {
      @apply w-full flex-align-x justify-between mx-auto;
    }
  }

  // layout-main不建议套base,防止UI设计贯穿样式
  #layout-main {
    .w {
      @apply relative mx-auto z-[1]; // 不要用position-center-h，否则内部无法正常用fixed
    }
  }

  #layout-footer-base {
    @apply w-full relative position-center-h flex-align-x;

    #layout-footer {
      @apply w-full flex-align-x mx-auto;
    }
  }
}
