$theme-name: 'theme-light-green'; 

// 修改后请运行 pnpm theme
// 如果变量在css和tailwind都能读到，颜色值格式要为: r, g, b 或 var(变量名)
// 如果只有css需要读，可以直接写颜色值(eg.--cus-scrollbar)
// 注意：不要用--c，会和antd冲突

// 主色系
.primary {
  --cus-primary-1: 47, 237, 92; // #2fed5c
}

// 次色系
.second {
  --cus-second-1: 153, 222, 57; // #99de39
}

// 灰色系
.gray {
  --cus-gray-100: 254, 253, 248; // #FFFDF8
  --cus-gray-500: 153, 153, 153; // #999
  --cus-gray-900: 51, 51, 51; // #333
}

// 功能色
.feature {
  // 轻松型
  --cus-relax-1: 126, 187, 146; // #7EBB92

  // 信息型
  --cus-info-1: 115, 171, 250; // #73ABFA
  --cus-info-2: 31, 125, 226; // #1F7DE2

  // 警告型
  --cus-warning-1: 251, 218, 69; // #FBDA45

  // 压力型
  --cus-stress-1: 226, 92, 85; // #E25C55
}

// 文本色
.text {
  --text-common-1: var(--cus-gray-900);
  --text-tip-1: var(--cus-gray-500);
}

// 其它（如果不需要放在color.ts，颜色可以直接写）
.other {
  --cus-popover-1: 0, 0, 0;
  --cus-scrollbar: rgba(0, 0, 0, 0.15);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .#{$theme-name} {
    @extend .primary;
    @extend .second;
    @extend .gray;
    @extend .feature;
    @extend .text;
    @extend .other;
  }
}
