@font-face {
  font-family: 'font-thin';
  src: url('../font/font-thin.woff2'); // 注意路径，根据引入者位置写
}

@font-face {
  font-family: 'font-normal';
  src: url('../font/font-normal.woff2'); // 注意路径，根据引入者位置写
}

@font-face {
  font-family: 'font-bold';
  src: url('../font/font-bold.woff2'); // 注意路径，根据引入者位置写
}